body {
    font-family: 'Karla', sans-serif;
    padding: 100px 50px;
}

h6 {
    margin: 100px 0 0 0;
}

.fe {
    color: black;
}

#about {
    padding: 10px;
}

#design {
    padding: 50px 10px;
}

#resume {
    padding: 20px 10px;
}